$color-db: #232830;
$color-lb: rgba(23, 179, 226, .35);
$color-yel-blc: rgba(255, 199, 7, .85);
$color-yel-txt: #fbcc4b;
$color-wh: #ffffff;
$color-gy: #ddae26;

//FONTS
$mon-extr-bold: "montserrat-extra-bold", sans-serif;
$mon-bold: "montserrat-bold", sans-serif;
$mon-sem-bold: "montserrat-semi-bold", sans-serif;
$mon-regular: "montserrat-regular", sans-serif;
$mon-light: "montserrat-light", sans-serif;
